<div class="row">
<div class="col-md-12">
  <p id="notice"><%= notice %></p>

  <h2>記事一覧</h2>

  <%= link_to '新しい記事を作る', new_article_path %>
  <div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Keyword</th>
        <th>Content</th>
        <!-- <th colspan="3"></th> -->
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.keyword %></td>
          <td><%= article.content.truncate(50) %></td>
          <td><%= link_to '閲覧', article %></td>
          <td><%= link_to '編集', edit_article_path(article) %></td>
          <td><%= link_to '削除', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>

  <%= link_to '新しい記事を作る', new_article_path %>

  <%= paginate @articles %>

</div>
</div>